<div id="inputFeriado" class=" row p-3  m-1 gx-3 gy-3 justify-content-center">

    <img class ="col-12 " src="https://www.unilibre.edu.co/bogota/images/calendario.jpg" width="100%" >

    <h1 class ="col-12 ">Feriados por Pais</h1>
    <div  class="p-3 mb-2 infoContainer text-white col-12">
        <p>Consulte todos los feriados de sus paises favoritos dentro de un rango de meses</p>
    </div>

    <form class="d-flex flex-column justify-content-center col-11">

        <app-meses-form></app-meses-form>

        <app-pais-form></app-pais-form>

    </form>

    <div class="col-12 d-flex justify-content-center">
        <button mat-raised-button color="accent" >Dias Festivos</button>
    </div>

</div>
