
<img src="https://www.unilibre.edu.co/bogota/images/calendario.jpg">
<h1>Feriados por Pais</h1>
<div>
    <p>Consulte todos los feriados de sus paises favoritos dentro de un rango de meses</p>
</div>

<form>
    <div class="form-floating col-xl-12 col-lg-6 col-sm-6 col-12 ">
        <select class="form-select" id="mesInicio">
            <option selected value="01">Ene</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Abr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Ago</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>
        <label for="mesInicio">Mes inicio</label>
    </div>
    <div class="form-floating col-xl-12 col-lg-6 col-sm-6 col-12">
        <select class="form-select" id="mesFinal">
            <option value="01">Ene</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Abr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Ago</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option selected value="12">Dec</option>
        </select>
        <label for="mesFinal">Mes final</label>
    </div>
    <div
    class="form-floating col-10 d-flex flex-wrap align-self-center justify-content-center">
    <select class="form-select" id="paises">
    </select>
    <label for="pais">Pais</label>
</div>

</form>


<button >Dias Festivos</button>
