<app-revbar [last]=last></app-revbar>

<div id ="comparacionPaises" class="d-flex flex-column p-3  mx-1  gx-3 gy-3 justify-content-center-content-center ">

  <h1>Comparativa Feriados</h1>

  <div id="BarChart_container" class=" infoContainer shadow mb-3">
    <canvas id="BarChart"></canvas>

    <div *ngIf="loadinData" id="BarChartLoader" class=" position-absolute top-50 start-50 translate-middle  ">
      <div  class="d-flex flex-column  align-items-center pt-3">
        <mat-progress-spinner  color="accent" mode=indeterminate diameter="90">
        </mat-progress-spinner>
        <h6 class="text-center">Cargando datos grafico </h6>
      </div>
    </div>

  </div>

</div>
