<div>
    <img src="https://countryflagsapi.com/png/GB">
    <h2>Pais actual</h2>
</div>

<h1>Feriados 2021</h1>

<div id="tablaFeriadoPais_container" class="mx-auto">
    <table id="tablaFeriadoPais">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
            </tr>
        </tfoot>
        <tbody>

        </tbody>
    </table>
</div>

<div id="LineChart_container" class="mx-auto">
    <canvas id="LineChart" width="100%" height="45"></canvas>
    chart
</div>
