<app-revbar></app-revbar>
<div class="px-5">
  <div class="row my-3">
    <div class="col-12 py-1">
      <h1>
        <b>Ordenes Shipped: {{cutomerId}}</b>
      </h1>
    </div>
  </div>


  <div *ngIf="!loadinData" >
    <app-tabla-sales [data]=tableData ></app-tabla-sales>
    <div class="px-5">
      <div class="row my-3 align-items-center justify-content-start">
        <div class="col-2">
          <h2>Total enviado: </h2>
        </div>
        <div class="col-4">
          <label>{{total}}$</label>
        </div>
      </div>


  </div>
</div>
