
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$md-primary-color: (
    50 : #ecf3fe,
    100 : #d1e2fc,
    200 : #b2cffa,
    300 : #93bbf8,
    400 : #7badf7,
    500 : #649ef5,
    600 : #5c96f4,
    700 : #528cf2,
    800 : #4882f0,
    900 : #3670ee,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #cfddff,
    A700 : #b6ccff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent-color: (
    50 : #e4e6fb,
    100 : #bcc0f6,
    200 : #8f96f0,
    300 : #626be9,
    400 : #414ce5,
    500 : #1f2ce0,
    600 : #1b27dc,
    700 : #1721d8,
    800 : #121bd3,
    900 : #0a10cb,
    A100 : #f6f6ff,
    A200 : #c3c4ff,
    A400 : #9092ff,
    A700 : #7679ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn-color: (
    50 : #e5f5fb,
    100 : #bfe7f6,
    200 : #94d7f0,
    300 : #69c6e9,
    400 : #48bae5,
    500 : #28aee0,
    600 : #24a7dc,
    700 : #1e9dd8,
    800 : #1894d3,
    900 : #0f84cb,
    A100 : #f8fcff,
    A200 : #c5e7ff,
    A400 : #92d2ff,
    A700 : #79c8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cliente-primary: mat.define-palette($md-primary-color);
$cliente-accent: mat.define-palette($md-accent-color);

// The warn palette is optional (defaults to red).
$cliente-warn: mat.define-palette($md-warn-color);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cliente-theme: mat.define-light-theme((
  color: (
    primary: $cliente-primary,
    accent: $cliente-accent,
    warn: $cliente-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cliente-theme);

