/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1{
    color: #5553d3;
    size: 26;
}

h2{
    color: black;
    size: 20
}

h3{
  color: black;
  size: 18
}

p{
    color: black;
    size: 16px;
}

.infoContainer{

    background-color: #E1E2E1;
}

