<div id="inputFeriado" class=" row p-2  m-1 gx-3 gy-3 justify-content-center">

    <img class="col-12"
        src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x10000:format=png/path/sce56dabcaa017cc3/image/i8eacb5ec35df1cb4/version/1644154512/image.png" width="100%">
    <h1>Paises del dia</h1>

    <div>

        <!--<app-pais-card *ngFor="let pais of paisesDia"  [infoPais]=pais ></app-pais-card>-->
        <app-pais-card></app-pais-card>
        <app-pais-card></app-pais-card>

    </div>

</div>
