<mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title><b>{{infoPais.name}}</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-6 d-flex flex-column ">

            <img mat-card-image src="https://flagcdn.com/w160/{{infoPais.iso2.toLowerCase()}}.jpg" loading="eager" width="100%" class="mb-1 mt-2">


              <mat-form-field  color="warn" appearance="fill">
                <mat-label>Moneda</mat-label>
                <input matInput readonly="true" value="{{infoPais.currency}}" >
              </mat-form-field>

              <mat-form-field  color="warn" appearance="fill">
                <mat-label>Cod tel</mat-label>
                <input matInput readonly="true" value="+{{infoPais.phonecode}}">
              </mat-form-field>

        </div>
        <div class="col-6 d-flex flex-column ">
          <mat-form-field color="warn" appearance="fill">
            <mat-label>Capital</mat-label>
            <input matInput readonly="true" value="{{infoPais.capital}}">
          </mat-form-field>

          <mat-form-field color="warn" appearance="fill">
            <mat-label>Porvincias/estados</mat-label>
            <input matInput readonly="true" value="{{infoPais.nEstados}}">
          </mat-form-field>

          <mat-form-field color="warn" appearance="fill">
            <mat-label>Ciudades</mat-label>
            <input matInput readonly="true" value="{{infoPais.nCiudades}}">
          </mat-form-field>

        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-raised-button color="accent" (click)="goToResponse()" >Dias Festivos</button>
    </mat-card-actions>
</mat-card>
<br>


