<mat-toolbar color="primary">
  <span>Menu</span>
</mat-toolbar>

<mat-selection-list #page [multiple]="false" (click)="changeRoute(page.selectedOptions.selected[0].value); page.deselectAll();">
  <mat-list-option value="/main/inicio" >
    <mat-icon  matListItemIcon color="accent">radio_button_unchecked</mat-icon>
    Inicio
  </mat-list-option >
  <mat-list-option value='/main/paisDia'>
    <mat-icon matListItemIcon color="accent">radio_button_unchecked</mat-icon>
    Paises del Dia
  </mat-list-option >
  <mat-list-option value="/main/feriadoInput">
    <mat-icon matListItemIcon color="accent">radio_button_unchecked</mat-icon>
    Feriados Pais
  </mat-list-option >
  <mat-list-option value="/main/compInput">
    <mat-icon matListItemIcon color="accent">radio_button_unchecked</mat-icon>
    Comparacion Feriados
  </mat-list-option>

</mat-selection-list>

