<mat-error *ngIf="mesInit>mesFin">*Mes inicial mayor al final</mat-error>
<div class="row justify-content-center">
    <mat-form-field appearance="outline" color="accent">
        <mat-label>Mes Inicio</mat-label>
        <mat-select [(value)]="mesInit" (selectionChange)="  onSelectedMeses()">
            <mat-option *ngFor="let mes of meses"[value]="mes.cod" >{{mes.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
        <mat-label>Mes final</mat-label>
        <mat-select [(value)]="mesFin" (selectionChange)="  onSelectedMeses()">
          <mat-option *ngFor="let mes of meses"[value]="mes.cod" >{{mes.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>

</div>

