<div class="d-flex flex-column justify-content-center">
    <mat-form-field appearance="outline" color="accent">
        <mat-label>Mes Inicio</mat-label>
        <mat-select [(value)]="mesInit">
            <mat-option value="01">Ene</mat-option>
            <mat-option value="02">Feb</mat-option>
            <mat-option value="03">Mar</mat-option>
            <mat-option value="04">Abr</mat-option>
            <mat-option value="05">May</mat-option>
            <mat-option value="06">Jun</mat-option>
            <mat-option value="07">Jul</mat-option>
            <mat-option value="08">Ago</mat-option>
            <mat-option value="09">Sep</mat-option>
            <mat-option value="10">Oct</mat-option>
            <mat-option value="11">Nov</mat-option>
            <mat-option value="12">Dec</mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field appearance="outline" color="accent">
        <mat-label>Mes final</mat-label>
        <mat-select [(value)]="mesFin">
            <mat-option value="01">Ene</mat-option>
            <mat-option value="02">Feb</mat-option>
            <mat-option value="03">Mar</mat-option>
            <mat-option value="04">Abr</mat-option>
            <mat-option value="05">May</mat-option>
            <mat-option value="06">Jun</mat-option>
            <mat-option value="07">Jul</mat-option>
            <mat-option value="08">Ago</mat-option>
            <mat-option value="09">Sep</mat-option>
            <mat-option value="10">Oct</mat-option>
            <mat-option value="11">Nov</mat-option>
            <mat-option value="12">Dec</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-error *ngIf="mesInit>mesFin">Mes inicial mayor al final</mat-error>
</div>
